<div class="card col-4 p-3 border-success">
  <div class="card-title text-primary">Person Entry Summary</div>
  <div class="card-body">
    <div>
      <label class="font-weight-bold">Name:</label>
      <label>@Person.FirstName</label>
      <label>@Person.LastName</label>
    </div>
    <div>
      <div><label class="font-weight-bold">Address:</label></div>
      <label>@Person.Address1</label>
      <label>@Person.Address2</label>
    </div>
    <div>
      <label>
        @Person.City
      </label>
      <label>
        @Person.State
      </label>
      <label>
        @Person.Zipcode
      </label>
    </div>
  </div>
</div>


