<h3>Person</h3>

<div class="form-field">
  <label>First Name:</label>
  <div>
    <input value="@Person.FirstName" />
  </div>
</div>
<div class="form-field">
  <label>Last Name:</label>
  <div>
    <input value="@Person.LastName" />
  </div>
</div>
<div class="form-field">
  <label>Address 1:</label>
  <div>
    <input value="@Person.Address1" />
  </div>
</div>
<div class="form-field">
  <label>Address 2:</label>
  <div>
    <input value="@Person.Address2" />
  </div>
</div>
<div class="form-field">
  <label>City:</label>
  <div>
    <input value="@Person.City" />
  </div>
</div>

<div class="form-field">
  <label>State:</label>
  <div>
    <input value="@Person.State" />
  </div>
</div>

<div class="form-field">
  <label>Zip code:</label>
  <div>
    <input value="@Person.Zipcode" />
  </div>
</div>