<div class="card col-4 p-3 border-primary">
  <div class="card-title text-success">
    Personal Info Entry
  </div>
  <div class="card-body">
    <div>
      <label>First Name:</label>
      <div>
        <input @bind="@Person.FirstName" @bind:event="oninput"/>
      </div>
    </div>
    <div>
      <label>Last Name:</label>
      <div>
        <input @bind="@Person.LastName" @bind:event="oninput"/>
      </div>
    </div>
    <div>
      <label>Address 1:</label>
      <div>
        <input @bind="@Person.Address1" @bind:event="oninput"/>
      </div>
    </div>
    <div>
      <label>Address 2:</label>
      <div>
        <input @bind="@Person.Address2" @bind:event="oninput"/>
      </div>
    </div>
    <div>
      <label>City:</label>
      <div>
        <input @bind="@Person.City" @bind:event="oninput"/>
      </div>
    </div>
    <div>
      <label>State:</label>
      <div>
        <input @bind="@Person.State" @bind:event="oninput"/>
      </div>
    </div>
    <div>
      <label>Zip code:</label>
      <div>
        <input @bind="@Person.Zipcode" @bind:event="oninput"/>
      </div>
    </div>
  </div>
</div>
<PersonDisplay Person="@Person" />
